html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


html {
    font-size: 62.5%;
    background: black;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}

header {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), black), url(./assets/background2.png);
    background-size: cover;
}

.headerContainer {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h1 {
    font-family: 'Lora', serif;
    font-size: 6rem;
}

h2 {
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
}

i {
    font-size: 10rem;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.5; }
    to { opacity: 1.0; }
}                                                                                                                                       
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.5; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3s infinite;
    -webkit-animation:fade 3s infinite;
}

.audioContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.denialGenerator{
    margin-top: 20rem;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.denialGenerator h2 {
    font-size: 3rem;
    padding-bottom: 5rem;
}

button {
    margin: 0 auto;
    border: 2px solid whitesmoke;
    background: black;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: whitesmoke;
    padding: 1.5rem;
}

button:hover {
    border: 2px solid lightgoldenrodyellow;
    color:lightgoldenrodyellow;
}

p {
    background-color: rgb(0, 0, 0, 0.4);
    padding: 10rem;
    font-size: 2.5rem;
    text-align: center;
    line-height: 4rem;
    width: 60%;
    margin: 0 auto;
}


#results {
    background-size: cover;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

form {
    padding: 10rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

form h2 {
    font-size: 2rem;
}

textarea {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
